trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Terraform_Deploy
  displayName: Deploy Infrastructure
  jobs:
  - job: Deploy
    displayName: Terraform Apply
    steps:

    - task: AzureCLI@2
      displayName: Install and Run Terraform
      inputs:
        azureSubscription: 'cross-account-appservice-deployment'
        scriptType: bash
        scriptLocation: inlineScript
        addSpnToEnvironment: true
        inlineScript: |
          set -e
          cd cross-azure-infra-deployment/

          echo "Installing Terraform..."
          wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
          unzip terraform_1.5.7_linux_amd64.zip
          sudo mv terraform /usr/local/bin/
          terraform -version

          echo "Terraform files:"
          ls -la

          terraform init
          terraform plan -out=tfplan
          terraform apply -auto-approve tfplan
