trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  tfWorkingDir: 'environments/dev'

stages:
- stage: Terraform_Deploy
  jobs:
  - job: Deploy
    steps:

    # Install Terraform
    - script: |
        wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
        unzip terraform_1.5.7_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
        terraform -version
      displayName: Install Terraform

    # Run Terraform
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'cross-account-appservice-deployment'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          cd $(tfWorkingDir)

          echo "Current Directory:"
          pwd
          ls -la

          terraform init
          terraform plan
          terraform apply -auto-approve

