trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Terraform_Deploy
  jobs:
  - job: Deploy
    steps:

    - task: AzureCLI@2
      displayName: Install and Run Terraform
      inputs:
        azureSubscription: 'cross-account-appservice-deployment'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e

          # Install Terraform
          wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
          unzip terraform_1.5.7_linux_amd64.zip
          sudo mv terraform /usr/local/bin/
          terraform -version

          # Go to Terraform folder
          cd viziapps-poc-infra

          # Clean any previous artifacts
          rm -rf .terraform
          rm -f .terraform.lock.hcl

          # INIT (very important)
          terraform init -reconfigure

          # PLAN
          terraform plan -out=tfplan

          # APPLY
          terraform apply -auto-approve tfplan
