trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  workingDirectory: 'environments/dev'

stages:

- stage: Terraform
  jobs:
  - job: Deploy
    steps:

    # Install Terraform
    - script: |
        wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
        unzip terraform_1.5.7_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
        terraform -version
      displayName: Install Terraform

    # Azure Login using Service Connection
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'cross-account-appservice-deployment'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          cd $(workingDirectory)

          terraform init
          terraform plan -out=tfplan
          terraform apply -auto-approve
