trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Terraform_Deploy
  displayName: Deploy Infrastructure
  jobs:
  - job: Deploy
    displayName: Terraform Apply
    steps:

    - script: |
        wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
        unzip terraform_1.5.7_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
        terraform -version
      displayName: Install Terraform

    - task: AzureCLI@2
      displayName: Run Terraform
      inputs:
        azureSubscription: 'cross-account-appservice-deployment'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          cd viziapps-poc-infra

          echo "Cleaning previous terraform cache..."
          rm -rf .terraform
          rm -f terraform.tfstate
          rm -f terraform.tfstate.backup

          terraform init -upgrade
          terraform plan
          terraform apply -auto-approve

