trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  workingDirectory: 'environments/dev'

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.5.7'

- task: TerraformTaskV4@4
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(workingDirectory)'
    environmentServiceNameAzureRM: 'cross-account-appservice-deployment'

- task: TerraformTaskV4@4
  displayName: Terraform Apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(workingDirectory)'
    environmentServiceNameAzureRM: 'cross-account-appservice-deployment'
    commandOptions: '-auto-approve'
